@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
    color: #333;
    font-size: 16px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 960px;
    margin: auto;
}

/* header section start ========== */

.logo{
    width: 20%;
    float: left;
}

.logo img{
    padding: 8px 0px;
}

nav{ 
    width: 80%;
    float: left;
}

nav ul{
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-transform: capitalize;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 19px;
    display: block;
}

/* header section end ========== */








/* content section start ========== */

.content-section{}
.content-left{}
.content-left h1{}
.content-left h3{}
.content-left p{}

.content-left ul{}
.content-left ul li{}
.content-left ul li a{}

.content-right{}
.content-right img{}

.bullet{}
.bullet ul{}
.bullet ul li{}
.bullet ul li a{}

/* content section end ========== */






/* features section start ========== */

.features-section{}
.features-section .heading{}
.features-section .heading h1{}
.features-section .heading h3{}


.features{}
.features .features-icon{}
.features .features-icon img{}

.features .features-conten{}
.features .features-conten h1{}
.features .features-conten p{}


/* features section end ========== */







/* footer section start ========== */

.footer-section{}
.subsciption-section{}
.subsciption-section h1{}
.subsciption-section p{}
.subsciption-section form{}
form input{}
form input[type="submit"]{}


.social-list{}
.social-list ul{}
.social-list ul li{}
.social-list ul li a{}
.social-list ul li a img{}

.address{}
.address address{}


.footer-col{}
.footer-col ul{}
.footer-col ul li{}
.footer-col ul li a{}


/* footer section start ========== */